# Mines: {{input type="text" size=4 value=mineCount }}&nbsp;&nbsp;
Grid: {{input type="text" size=4 value=mapHeight }} x 
	  {{input type="text" size=4 value=mapWidth }}
<button class="reset" {{action 'reset'}}>Reset</button>
<span>{{time}}</span>
<br>
<br>
<table>
	<tbody>
		{{#each map.rows as |row|}}
		<tr>
			{{#each row.cells as |cell|}}
				<td>
					<button class="square" 
						disabled={{if cell.cleared "disabled"}} 
						{{action 'check' cell}}>
						{{cell.text}}
					</button>
				</td>
			{{/each}}
		</tr>
		{{/each}}
	</tbody>
</table>
